@media (max-width: 1200px) {
    body {
        .header {
            .our-service-header {
                width: 15%;
            }
            .why-choose-us-header,
            .enquire-now-header {
                width: 18%;
            }
            .phone-header {
                width: 21%;
            }
        }
        .welcome-lift-connect {
            .content {
                .welcome-video {
                    .video-container {
                        iframe {
                            width: 80%;
                            height: 68%;
                        }
                    }
                }
            }
        }
    }
}
