@media (max-width: 320px) {
    %major-lift-title320 {
        width: 130px;
    }
    body {
        .why-choose-us {
            .why-choose-us-container {
                .content {
                    .major-telcos {
                        .major-intro {
                            .major-title {
                            	@extend %major-lift-title320;
                            }
                        }
                    }
                    .lift-connect {
                        .lift-intro {
                            .lift-title {
                            	@extend %major-lift-title320;
                            }
                        }
                    }
                }
            }
        }
    }
}
