@media (min-width: 680px) {
    .hidden-680 {
        display: block;
    }
    .visible-680 {
        display: none;
    }
}

@media (max-width: 680px) {
    .hidden-680 {
        display: none;
    }
    .visible-680 {
        display: block;
    }
    body {
        .we-offer-an-easy {
            .we-offer-an-easy-title {
                height: 110px;
            }
        }
        .enquire {
            padding: 50px 0 30px 0;
            .enquire-container {
                width: 294px;
                .enquire-title {
                    margin: 16px 0 40px 0;
                }
                .enquire-content {
                    .has-inner-border {
                        &:after {
                            width: 268px;
                        }
                    }
                    .leave-your-enquiry {
                        margin-bottom: 26px;
                    }
                    .send-enquiry {
                        button {
                            padding: 9px 45px;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
        .footer {
            height: 130px;
            text-align: center;
            padding: 34px 0;
            font-size: 10px;
            .footer-left,
            .footer-right {
                float: none!important;
            }
            .footer-left {
                margin-bottom: 26px;
            }
            .privacy-policy {
                display: block;
            }
        }
    }
}
